body {
    /*font-family : Leelawadee;*/
}

header.widget-head {
    /*font-size  : 18px;*/
    /*text-align : center;*/
    /*display    : block;*/
}

.widget_body {
    padding          : 0 25px 18px 25px;
    background-image : url("bg.png");
    padding-top      : 1px;
}

.widget_body .background {
    /*border-bottom : 1px solid rgba(223, 207, 207, 0.25);*/
    background    : #fff;
    height: 139px;
}

.one {
    float      : left;
    width      : 245px;
    margin     : 2% 1.3%;
    border     : 1px solid rgb(223, 207, 207);
    transition : all .2s;
    position: relative;
   padding-bottom: 15px;
    max-width: 100%;
}

.descript {
    /*background: #F3F3F3;*/
    padding-top: 1px;
    min-height: 69px;
    padding-bottom: 8px;
}

.descript p.name_teacher {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.descript p.name_lesson {
    text-align: center;
    margin-top: 53px;
    font-size: 23px;
}

.mini-phone .one {
    margin    : 10px auto;
    float     : none;
}


.tablet .one {
    float: left;
}

.img-teacher{
    position: absolute;
    top: 27%;
    left: 29%;
    width: 42%;
}

.img-teacher img{
    border-radius: 50%;
    width:100%;
}

.one a.btn-fix{
    display: block;
    padding: 5px 8px;
    text-decoration: none;
    color : #fff;
    margin: 22px 78px 0;
    text-align: center;
}

figure a{
    display: block;
}