body {
    position         : relative;
    font-family      : 'Roboto', Arial, sans-serif;;
    background-color : rgb(241, 240, 250);
}

.right {
    float : right;
}

.left {
    float : left;
}

.white {
    background-color : white;
}

a {
    color           : #0088cc;
    text-decoration : none;
}

a:hover, a:focus {
    color           : #005580;
    text-decoration : underline;
    outline         : none;
}

/*________________________________________form________________________________________*/

form input:-webkit-autofill {
    background-color   : #fff !important;
    background-image   : none;
    color              : rgb(0, 0, 0);
    -webkit-box-shadow : 0 0 0px 1000px white inset;
    -webkit-transition : -webkit-box-shadow 0s;
}

form {
    padding : 10px;
}

form .row {
    margin : 20px;
}

form input, form textarea, form img {
    margin        : 10px 0;
    border-radius : 2px;
    border        : 1px solid rgb(245, 245, 245);
    outline       : none;
}

input[type=text], input[type=number], input[type=email], input[type=date], input[type=password], textarea, select {
    padding    : 8px 15px;
    border     : 1px solid rgb(245, 245, 245);
    outline    : none;
    /*border     : none;*/
    /*box-shadow : 0 1px 3px #999 inset;*/
    color      : #727476;
    transition : all .5s ease;
    width      : 90%;
    max-width  : 300px;
}

input[type=submit] {
    padding : 8px 15px;

}

select {
    color : #000;
}

input:focus, textarea:focus {
    box-shadow : 0 1px 3px #333 inset;
    color      : #000;
    background : #f7f8f9;
}

.placeholder {
    color : #aaa !important;
}

textarea {
    margin : 10px 0px;
    height : 100px;
    /*width  : 300px;*/
    /*max-width: 97%;*/
}

.mini-phone textarea, .phone textarea {
    width  : 100%;
    height : 200px;
}

label {
    display : block;
    color   : #555;
}

.label {
    font-size      : 13px;
    font-weight    : 800;
    text-transform : capitalize;
}

.form_err {
    color     : red;
    font-size : 12px;
    margin    : -5px 0 10px 0;
}

.mini-phone form {
    padding : 0;
}

.mini-phone form > * {
    text-align         : center !important;
    width              : 100%;
    box-sizing         : border-box;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    -ms-box-sizing     : border-box;
    -o-box-sizing      : border-box;
    margin-left        : auto;
    margin-right       : auto;
}

.upload_input {
    display : none;
}

/*________________________________________Button________________________________________*/
.btn, .btn-fix {
    outline       : none;
    border        : none;
    background    : #0072C6;
    /*line-height   : 1.5;*/
    padding       : 9px 28px;
    color         : white;
    box-shadow    : none;
    border-radius : 2px;
    cursor        : pointer;
}

a.btn, a.btn-fix {
    display : inline-block;
    margin  : 5px 0;
}

.mini-phone .btn {
    width : 97%;
}

.btn:hover, .btn-fix:hover {
    background      : #0160A7;
    color           : white;
    text-decoration : none;
}

.btn-small {
    padding   : 7px 13px;
    font-size : 12px;
}

/*_________________*/
table {
    width           : 93%;
    border-collapse : collapse;

}

tr:hover td {
    background-color : #F8F8F8;
}

td, th {
    text-align       : left;
    background-color : #fff;
    text-align       : left !important;
}

td {
    padding    : 8px;
    border-top : 1px solid #dddddd;
}

tr.form_err td {
    border : none;
}

tr.form_err:hover td {
    background-color : #fff;
}

tr.table-head th {
    /*background     : #f7f8f9 !important;*/
    font-weight    : bold;
    padding        : 30px 10px 10px 10px;
    text-transform : capitalize;
}

.mini-phone tr.table-head th {
    padding : 15px 5px 5px 5px;
}

tr.table-head {
    border-bottom : 2px solid #333;
}

.table-form {
    margin : 30px;
}

.mini-phone .table-form {
    margin : 5px;
}

.table-form td {
    padding : 0 8px;
}

.table-form form {
    padding : 0;
}

.mini-phone td, .phone td, .mini-phone th, .phone th {
    display : block;
    border  : none;
    float   : left;
    width   : 95%;
    padding : 8px;
}

.mini-phone tr, .phone tr {
    border-top : 1px solid #dddddd;
    display    : block;
    float      : left;
    width      : 100%;
    padding    : 0;

}

/*________________________________________page style________________________________________*/
#content {
    padding-left : 280px;
    overflow-x   : hidden;
}

main {
    min-height     : 400px;
    padding-bottom : 1px;
    overflow-y     : visible;
}

#sidebar {
    float            : left;
    width            : 280px;
    max-width        : 100%;
    height           : 100%;
    background-color : #222;
    overflow         : hidden;
    position         : absolute;

}

#sidebar header {
    background         : #333;
    border-bottom      : 1px solid #000;
    -webkit-box-shadow : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    -moz-box-shadow    : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    box-shadow         : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    background         : #333;
    border-bottom      : 1px solid #000;

    -webkit-box-shadow : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    -moz-box-shadow    : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    box-shadow         : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    padding            : 23px 20px 23px 63px;
    font-size          : 14px;
    color              : #ccc;
    position           : relative;
}

.top-line {
    border-top : 1px dotted #333;
}

#sidebar a {
    color          : #ccc;
    display        : block;
    padding        : 10px 15px;
    text-transform : capitalize;
    font-size      : 13px;
    font-weight    : 500;
}

#sidebar li:hover, #sidebar li.active {
    background : #2a2a2a;
}

#sidebar li:hover a, #sidebar li.active a {
    color : #fff;
}

#sidebar menu h2 {
    color          : #777;
    font-size      : 11px;
    font-weight    : 400;
    text-shadow    : none;
    padding        : 25px 15px 5px 15px;
    text-transform : uppercase;
}

#sidebar menu .label {
    background            : #0072C6;
    -webkit-border-radius : 2px;
    -moz-border-radius    : 2px;
    border-radius         : 2px;
    color                 : #fff;
    font-size             : 11px;
    font-weight           : normal;
    float                 : right;
    line-height           : 20px;
    padding               : 0 10px;
}

#content > header {
    background         : #0870be;
    border-bottom      : 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow : 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow    : 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(255, 255, 255, 0.5) inset;
    box-shadow         : 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(255, 255, 255, 0.5) inset;
    color              : #fff;
    line-height        : 60px;
    padding-left       : 60px;
    position           : relative;
    overflow           : hidden;
    white-space        : nowrap;
    font-family        : 'Leckerli One', cursive, Helvetica, Arial, sans-seri;
    text-transform     : capitalize;
    font-weight        : 200;
    font-size          : 20px;
}

.collapse-btn {
    display       : none;
    position      : absolute;
    cursor        : pointer !important;
    padding       : 10px !important;
    border-radius : 2px;
    transition    : all 1s;
}

.mini-phone nav .collapse-btn {
    display    : block;
    bottom     : 5px;
    left       : 5px;
    margin-top : -187px;
}

.mini-phone nav .toggle-on {
    box-shadow : inset 2px 0px 2px #111;
}

#content .collapse-btn {
    left    : 5px;
    top     : 8px;
    display : block;
}

.toggle-on {
    transform : rotate(270deg);
}

.toggle-off {
    transform : rotate(-180deg);
}

.mini-phone #sidebar .collapse-btn {
    right   : 5px;
    top     : 8px;
    left    : auto;
    display : block;
}

.collapse-btn li {
    background-color : white !important;
    height           : 3px !important;
    margin           : 4px !important;
    width            : 20px !important;
    padding          : 0 !important;
}

#content-head {
    padding    : 30px 30px 1px 30px;
    background : white;
}

#content-head section {
    display : block;
}

#content-head .top {
    font-size : 14px;
}

#content-head .bottom {
    margin : 33px 0;
}

#content-head ul {
    list-style-type : none;
    display         : block;
    height          : 30px;
}

#content-head li {
    float : left;
    color : #555;
}

#content-head h2 {
    /*font-weight: bold;*/
    text-transform : capitalize;
    color          : #333;
    font-size      : 20px;
}

#content-head div {
    margin    : 15px 0;
    color     : #ccc;
    font-size : 13px;
}

#content-body {
    height  : inherit;
    padding : 30px;
}

.mini-phone #content-body {
    padding : 7px;
}

#content-body .widget {
    padding-bottom   : 10px;
    background-color : #fff;
    /*border-radius : 2px;*/
    /*border        : 1px solid #d9d9dd;*/
    margin-bottom    : 30px;
}

#content-body .widget.mini {
    width  : 47%;
    float  : left;
    margin : 2% 0 0 2%;
}

.mini-phone #content-body .widget.mini, .phone #content-body .widget.mini {
    width         : 100%;
    float         : none;
    margin-bottom : 10px;
}

#content-body .widget-head {
    background    : #f7f8f9;
    border-bottom : 1px solid #d9d9dd;
    border-radius : 2px 2px 0 0;
    box-shadow    : 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    color         : #727476;
    font-weight   : 500;
    padding       : 10px 15px;
    word-wrap     : break-word;

}

#content-body .widget-head.white {
    background  : #fff;
    color       : #000;
    font-weight : bolder;

}

#content-body .widget-body {
    background    : #fff;
    padding       : 15px;
    border-radius : 0 0 2px 2px;
    word-wrap     : break-word;
}

#content-body .widget-footer {
    background : #fff;
    border-top : 1px solid #eee;
    box-shadow : 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    color      : #ccc;
    padding    : 4px 15px 4px;

}

nav {
    background-color   : #222;
    -webkit-box-shadow : 0 1px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow    : 0 1px 10px rgba(0, 0, 0, .1);
    box-shadow         : 0 1px 10px rgba(0, 0, 0, .1);
    position           : relative;
}

.mini-phone nav {
    overflow   : hidden;
    margin-top : -187px;
}

no-mini-phone nav {
    margin-top : 0;
}

.mini-phone nav menu {
    padding-bottom : 60px;
}

nav li {
    float : left;
}

.mini-phone nav li {
    float         : none;
    width         : 100%;
    text-align    : center;
    padding       : 10px;
    border-bottom : 1px solid #333;
}

nav a {
    display   : block;
    padding   : 7px 10px;
    font-size : 12px;
    color     : #ccc;

}

nav a:hover, nav li.active a {
    color : #ffffff;
}

.large-desktop #sidebar, .desktop #sidebar {
    width : 280px;
}

.large-desktop #content, .desktop #content {
    padding-left : 280px;
}

.tablet #sidebar, .phone #sidebar, .mini-phone #sidebar {
    width : 0;
}

.tablet #content, .phone #content, .mini-phone #content {
    padding-left : 0;
}

.items {
    background-color : #999;
}

.items ul {
    list-style-type : none;
}

.item {
    display : block;
    width   : 170px;
    height  : 200px;
    border  : 1px solid red;
    float   : left;
    margin  : 10px
}

.items img {
    width  : 150px;
    height : 150px;
    margin : 5px;
}

.item li {
    text-align : center;
}

.widget .image {
    width : 80px;
    float : left;
    /*border : 1px solid red;*/

}

.widget  figure.imgpost {
    width   : 50px;
    height  : 50px;
    margin  : 14px auto 0;
    padding : 2px;
}

.widget .name {
    display     : block;
    font-family : verdana;
    font-size   : 13px;
    color       : #9B8F8F;
    text-align  : center;
    margin      : 10px 0;
    word-wrap   : break-word;
}

.widget .total {
    margin     : 10px 0 10px 85px;
    min-height : 55px;

}

.total .subject {
    display     : inline-block;
    font-size   : 17px;
    font-family : verdana;
    padding     : 6px;
    margin-top  : 6px;
    color       : #96ACAD;
}

.total .publish {
    display     : inline-block;
    margin      : 10px 0 0 6px;
    font-size   : 12px;
    font-family : verdana;
    color       : #96ACAD;
}

.widget_body .text {
    padding      : 2px;
    margin       : 2px 0 0 5px;
    line-height  : 23px;
    word-spacing : 2px;
}

.widget_body .text * {
    padding      : 2px;
    margin       : 2px 0 0 5px;
    line-height  : 23px;
    word-spacing : 2px;
    max-width    : 98%;
}

.widget_footer {
    width              : 100%;
    height: 0px;
    overflow: hidden;
    transition : all .5s ease;

}

.widget_footer li {
    float: right;
    height: 50px;
}

.widget:focus .widget_footer , .widget:hover .widget_footer {
    height: 55px;
}

.view-exercise{
    margin-top: 16px;
    margin-right: 27px;
}

.view-exercise a{
    padding: 10px;
}

section.list {
    width       : 90%;
    min-height  : 200px;
    margin      : 20px 0 0 9px;
    border-top  : 1px solid #676B6D;
    padding-top : 10px;
 }

.list:hover {
    overflow-y : scroll;
    overflow-x : hidden;
}

.list::-webkit-scrollbar {
    width : 5px;
}

.list::-webkit-scrollbar-track {
    background : #555;
}

.list::-webkit-scrollbar-thumb {
    background : #D5DCFD;
}

.list .menu {
    list-style : none;
}

.list a.ad {
    display       : block !important;
    padding       : 6px 0px 6px 25px !important;
    margin-bottom : 5px !important;
}

.list figure {
    float  : left;
    margin : 0 0 0 -19px;
}

.list p {
    margin-left : 15px;
    color       : #C9C9C9;
    margin-top  : 1.5%;
    display     : inline-block;
    font-size   : 14px;
}

#sidebar i {
    display     : block;
    float       : left;
    color       : #777;
    font-size   : 14px;
    margin      : -2px 15px 0px 13px;
    text-shadow : 0 0 1px #000;
    text-align  : center;
    width       : 20px;
}

#sidebar li:hover i, #sidebar li.active i {
    color : #eee;
}

#user-image {
    position      : absolute;
    top           : 10px;
    left          : 14px;
    border-radius : 4px;
}

#sidebar header a {
    display : inline;
    padding : 0;
    margin  : 0;
}

.upload_btn {
    padding : 8px;
}

.btn-red:hover{
    background: #a00;
    color: #fff;
}

.img-user-view{
    margin-right: 30px;
    float: left;
}

.img-user-view img{
    width: 100px;
    height: 100px;
    border-radius: 4px;
}