body {
    /*background  : url("http://localhost/CodeIgniter/files/img/bg.png");*/
    min-height  : 100%;
    min-width   : 100%;
    position    : absolute;
    top         : 0;
    bottom      : 0;
    right       : 0;
    left        : 0;
    font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color           : #0088cc;
    text-decoration : none;
}

a:hover, a:focus {
    color           : #005580;
    text-decoration : underline;
}

menu {
    list-style-type : none;
}

menu a:hover {
    text-decoration : none;
}

#content {
    float : left;
    width : 100%;
}

main {
    margin-left        : 280px;
    /*background-color   : #6bff98;*/
    min-height         : 400px;
    -webkit-transition : margin 1s ease-in-out;
    -moz-transition    : margin 1s ease-in-out;
    -ms-transition     : margin 1s ease-in-out;
    transition         : margin 1s ease-in-out;
}

#sidebar {
    float              : left;
    width              : 280px;
    min-height         : 100%;
    background-color   : #222;
    position           : fixed;
    left               : 0;
    top                : 0;
    bottom             : 0;
    -webkit-transition : width 1s ease-in-out;
    -moz-transition    : width 1s ease-in-out;
    -ms-transition     : width 1s ease-in-out;
    transition         : width 1s ease-in-out;
    overflow           : hidden;
}

/*#footer {*/
/*clear : both;*/
/*position: absolute;*/
/*bottom: 0;*/
/*left: 0;*/
/*right: 0;*/
/*width : 100%*/
/*}*/

#sidebar header {
    background         : #333;
    border-bottom      : 1px solid #000;
    -webkit-box-shadow : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    -moz-box-shadow    : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    box-shadow         : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    background         : #333;
    border-bottom      : 1px solid #000;

    -webkit-box-shadow : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    -moz-box-shadow    : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    box-shadow         : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    /*height: 60px;*/
    padding            : 23px 20px 23px 50px;
    font-size          : 14px;
    color              : #ccc;
    margin-bottom      : 30px;
}

#sidebar li:last-child {
    border-top : 1px dotted #333;
}

#sidebar a {
    color          : #ccc;
    display        : block;
    padding        : 10px 15px 10px 55px;
    text-transform : capitalize;
    font-size      : 13px;
    font-weight    : 500;
}

#sidebar li:hover {
    background : #2a2a2a;
}

#sidebar li:hover a {
    color : #fff;
}

#content > header {
    background         : #0870be;
    border-bottom      : 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow : 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow    : 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(255, 255, 255, 0.5) inset;
    box-shadow         : 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(255, 255, 255, 0.5) inset;
    color              : #fff;
    line-height        : 60px;
    padding-left       : 30px;
}

#content-head {
    padding : 30px 30px 0 30px;
}

#content-head section {
    display : block;
}

#content-head .top {
    font-size : 14px;
}

#content-head .bottom {
    margin : 33px 0;
}

#content-head ul {
    list-style-type : none;
    display         : block;
}

#content-head li {
    float : left;
    color : #555;
}

#content-head h2 {
    /*font-weight: bold;*/
    text-transform : capitalize;
    color          : #333;
    font-size      : 20px;
}

#content-head div {
    margin    : 15px 0;
    color     : #ccc;
    font-size : 13px;
}

#content-body {
    background-color : rgb(241, 240, 255);
    height           : inherit;
    padding-top      : 1px;
}

#content-body > section {
    /*background-color : #fff;*/
    border-radius : 2px;
    border        : 1px solid #d9d9dd;
    margin        : 30px;
}

#content-body section header {
    background    : #f7f8f9;
    border-bottom : 1px solid #d9d9dd;
    border-radius : 2px 2px 0 0;
    box-shadow    : 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    color         : #727476;
    font-weight   : 500;
    padding       : 10px 15px;

}

#content-body section article {
    background    : #fff;
    padding       : 15px;
    border-radius : 0 0 2px 2px;
}

/*nav{*/
/*background-color: #111;*/
/*-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);*/
/*-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);*/
/*box-shadow: 0 1px 10px rgba(0,0,0,.1);*/
/*}*/

/*nav menu{*/

/*}*/

/*nav li{*/
/*float: left;*/
/*}*/

/*nav a{*/
/*display: block;*/
/*padding: 10px 15px;*/
/*font-size: 15px;*/
/*color: #ccc;*/

/*}*/

/*nav a:hover,nav li.active a{*/
/*color: #ffffff;*/
/*}*/

/*Large desktop*/
@media (min-width: 1200px) {
    #sidebar {
        width : 280px;
    }

    #content > * {
        margin-left : 280px;
    }
}

/*Portrait tablet to landscape and desktop*/
@media (min-width: 768px) and (max-width: 979px) {
    #sidebar {
        width : 25%;
    }

    #content > * {
        margin-left : 25%;
    }
}

/*Landscape phone to portrait tablet*/
@media (max-width: 767px) {
    #sidebar {
        width : 40px;
    }

    #content > * {
        margin-left : 40px;
    }
}

/*Landscape phones and down*/
@media (max-width: 480px) {
    #sidebar {
        width : 40px;
    }

    #content > * {
        margin-left : 40px;
    }
}