body {
    position         : relative;
    font-family      : "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color : rgb(241, 240, 250);
}

.right {
    float : right;
}

.left {
    float : left;
}

.white {
    background-color : white;
}

/*________________________________________form________________________________________*/

form input:-webkit-autofill {
    background-color   : #fff !important;
    background-image   : none;
    color              : rgb(0, 0, 0);
    -webkit-box-shadow : 0 0 0px 1000px white inset;
}

form {
    padding : 10px;
}

form .row {
    margin : 20px;
}

form input, form textarea, form img {
    margin        : 10px 0;
    border-radius : 2px;
    border        : 1px solid rgb(245, 245, 245);
    outline       : none;
}

input[type=text], input[type=number], input[type=email], input[type=date], input[type=password], textarea {
    padding    : 8px 15px;
    border     : 1px solid rgb(245, 245, 245);
    outline    : none;
    /*border     : none;*/
    /*box-shadow : 0 1px 3px #999 inset;*/
    color      : #727476;
    transition : all .5s ease;
    width      : 90%;
    max-width  : 300px;
}

input[type=submit] {
    padding : 8px 15px;

}

input:focus, textarea:focus {
    box-shadow : 0 1px 3px #333 inset;
    color      : #000;
    background : #f7f8f9;
}

textarea {
    margin : 10px 0px;
    height : 100px;
    width  : 300px;
}

.mini-phone textarea, .phone textarea {
    width  : 100%;
    height : 200px;
}

label {
    display        : block;
    color          : #555;
    font-size      : 13px;
    font-weight    : 800;
    text-transform : capitalize;
}

.form_err {
    color       : red;
    font-size   : 12px;
    margin-left : 10px;
}

.mini-phone form {
    padding : 0;
}

.mini-phone form * {
    text-align : center !important;
    width      : 100%;
}

/*________________________________________Button________________________________________*/
.btn {
    outline       : none;
    border        : none;
    background    : #0072C6;
    /*line-height   : 1.5;*/
    padding       : 9px 28px;
    color         : white;
    box-shadow    : none;
    border-radius : 2px;
    cursor        : pointer;
}

.btn:hover {
    background      : #0160A7;
    color           : white;
    text-decoration : none;
}

.btn-small {
    padding   : 7px 13px;
    font-size : 12px;
}

/*_________________*/
table {
    width           : 93%;
    border-collapse : collapse;

}

tr {
    /*background : #aaa;*/
    padding : 0 30px;
}

tr:hover td {
    background-color : #F8F8F8;
}

td, th {
    text-align       : left;
    background-color : #fff;
    text-align       : left !important;
}

td {
    padding    : 8px;
    border-top : 1px solid #dddddd;
}

th {
    /*background     : #f7f8f9 !important;*/
    font-weight    : bold;
    padding        : 10px;
    border-bottom  : 2px solid #333;
    text-transform : capitalize;
}

.table-form td {
    padding : 0 8px;
}

.table-form form {
    padding : 0;
}

.mini-phone td, .phone td, .mini-phone th, .phone th {
    display : block;
    border  : none;
    float   : left;
    width   : 95%;
    padding : 8px;
}

.mini-phone tr, .phone tr {
    border-top : 1px solid #dddddd;
    display    : block;
    float      : left;
    width      : 100%;
    padding    : 0;

}

/*________________________________________page style________________________________________*/
#content {
    padding-left : 280px;
    overflow-x   : hidden;
}

main {
    min-height     : 400px;
    padding-bottom : 1px;
    overflow-y     : visible;
}

#sidebar {
    float            : left;
    width            : 280px;
    max-width        : 100%;
    height           : 100%;
    background-color : #222;
    overflow         : hidden;
    position         : absolute;

}

#sidebar header {
    background         : #333;
    border-bottom      : 1px solid #000;
    -webkit-box-shadow : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    -moz-box-shadow    : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    box-shadow         : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    background         : #333;
    border-bottom      : 1px solid #000;

    -webkit-box-shadow : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    -moz-box-shadow    : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    box-shadow         : 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
    padding            : 23px 20px 23px 50px;
    font-size          : 14px;
    color              : #ccc;
}

.top-line {
    border-top : 1px dotted #333;
}

#sidebar a {
    color          : #ccc;
    display        : block;
    padding        : 10px 15px 10px 55px;
    text-transform : capitalize;
    font-size      : 13px;
    font-weight    : 500;
}

#sidebar li:hover, #sidebar li.active {
    background : #2a2a2a;
}

#sidebar li:hover a, #sidebar li.active a {
    color : #fff;
}

#sidebar menu h2 {
    color          : #777;
    font-size      : 11px;
    font-weight    : 400;
    text-shadow    : none;
    padding        : 25px 15px 5px 15px;
    text-transform : uppercase;
}

#sidebar menu .label {
    background            : #0072C6;
    -webkit-border-radius : 2px;
    -moz-border-radius    : 2px;
    border-radius         : 2px;
    color                 : #fff;
    font-size             : 11px;
    font-weight           : normal;
    float                 : right;
    line-height           : 20px;
    padding               : 0 10px;
}

#content > header {
    background         : #0870be;
    border-bottom      : 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow : 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow    : 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(255, 255, 255, 0.5) inset;
    box-shadow         : 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(255, 255, 255, 0.5) inset;
    color              : #fff;
    line-height        : 60px;
    padding-left       : 60px;
    position           : relative;
    overflow           : hidden;
    white-space        : nowrap;
    font-family        : 'Leckerli One', cursive, Helvetica, Arial, sans-seri;
    text-transform     : capitalize;
    font-weight        : 200;
    font-size          : 20px;
}

.collapse-btn {
    display       : none;
    position      : absolute;
    cursor        : pointer !important;
    padding       : 10px !important;
    border-radius : 2px;
    transition    : all 1s;
}

.mini-phone nav .collapse-btn {
    display    : block;
    bottom     : 5px;
    left       : 5px;
    margin-top : -187px;
}

.mini-phone nav .toggle-on {
    box-shadow : inset 2px 0px 2px #111;
}

#content .collapse-btn {
    left    : 5px;
    top     : 8px;
    display : block;
}

.toggle-on {
    transform : rotate(270deg);
}

.toggle-off {
    transform : rotate(-180deg);
}

.mini-phone #sidebar .collapse-btn {
    right   : 5px;
    top     : 8px;
    left    : auto;
    display : block;
}

.collapse-btn li {
    background-color : white !important;
    height           : 3px !important;
    margin           : 4px !important;
    width            : 20px !important;
    padding          : 0 !important;
}

#content-head {
    padding    : 30px 30px 1px 30px;
    background : white;
}

#content-head section {
    display : block;
}

#content-head .top {
    font-size : 14px;
}

#content-head .bottom {
    margin : 33px 0;
}

#content-head ul {
    list-style-type : none;
    display         : block;
    height          : 30px;
}

#content-head li {
    float : left;
    color : #555;
}

#content-head h2 {
    /*font-weight: bold;*/
    text-transform : capitalize;
    color          : #333;
    font-size      : 20px;
}

#content-head div {
    margin    : 15px 0;
    color     : #ccc;
    font-size : 13px;
}

#content-body {
    height  : inherit;
    padding : 30px;
}

.mini-phone #content-body {
    padding : 7px;
}

#content-body .widget {
    /*background-color : #fff;*/
    border-radius : 2px;
    border        : 1px solid #d9d9dd;
    margin-bottom : 30px;
}

#content-body .widget-head {
    background    : #f7f8f9;
    border-bottom : 1px solid #d9d9dd;
    border-radius : 2px 2px 0 0;
    box-shadow    : 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    color         : #727476;
    font-weight   : 500;
    padding       : 10px 15px;

}

#content-body .widget-body {
    background    : #fff;
    padding       : 15px;
    border-radius : 0 0 2px 2px;
}

nav {
    background-color   : #222;
    -webkit-box-shadow : 0 1px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow    : 0 1px 10px rgba(0, 0, 0, .1);
    box-shadow         : 0 1px 10px rgba(0, 0, 0, .1);
    position           : relative;
}

.mini-phone nav {
    overflow   : hidden;
    margin-top : -187px;
}

no-mini-phone nav {
    margin-top : 0;
}

.mini-phone nav menu {
    padding-bottom : 60px;
}

nav li {
    float : left;
}

.mini-phone nav li {
    float         : none;
    width         : 100%;
    text-align    : center;
    padding       : 10px;
    border-bottom : 1px solid #333;
}

nav a {
    display   : block;
    padding   : 7px 10px;
    font-size : 12px;
    color     : #ccc;

}

nav a:hover, nav li.active a {
    color : #ffffff;
}

.large-desktop #sidebar, .desktop #sidebar {
    width : 280px;
}

.large-desktop #content, .desktop #content {
    padding-left : 280px;
}

.tablet #sidebar, .phone #sidebar, .mini-phone #sidebar {
    width : 0;
}

.tablet #content, .phone #content, .mini-phone #content {
    padding-left : 0;
}

/*.large-desktop #content-body > section {*/
/*float: left;*/
/*max-width: 47%;*/
/*margin: 20px 0px 0px 20px;*/
/*}*/