.slideshow{
	width           : 899px;
	height          : 450px;
	background-color: white;
	margin          : 25px;
	position        : relative;
	overflow        : hidden;
	box-shadow: 0 0 1px 1px #036792;
}

.slideshow ul{
	list-style-type : none;
}

.slideshow li{
	float           : left;
}

.slideshow ul.images{
	width           : 4500px;
	height          : inherit;
	position		: absolute;
  -webkit-transition: left 2s ease-in-out;
     -moz-transition: left 2s ease-in-out;
      -ms-transition: left 2s ease-in-out;
       -o-transition: left 2s ease-in-out;
          transition: left 2s ease-in-out;
}

.slideshow ul.bullets{
	height          : 20px;
	position        : absolute;
	left            : 43%;
	bottom          : 5px;
}

.slideshow ul.images li{
	width           : 900px;
	height          : inherit;
	display 		: block;
}

.slideshow ul.bullets li{
	width           : 16px;
	height			: 8px;
	background-color: #224e6b;
	margin			: 5px;
	cursor 			: pointer;
}

.slideshow .bullets li.active{
	background-color: #3bb8f8;
}
